{#
  /**
   * @file
   * Default theme implementation to display spotify results.
   *
   * Available variables:
   * - items: an array of related artists pulled from the configured Spotify account.
   */
#}

{%
  set classes = [
    'spotify-results'
  ]
%}

<div{{attributes.addClass(classes)}}>
	<h1>Hello Spotify</h1>
	{% for item in items %}
		<p>{{ item }}</p>
	{% endfor %}
</div>
